/* You can add global styles to this file, and also import other style files */
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}
.ngx-pagination a{
  color: rgba(57,62,70,1)!important;
  border-radius: 15px!important;
  font-size: 16px!important;
}
.ngx-pagination .current{
  border-radius: 15px!important;
}
.ngx-pagination{
  margin: 0!important;
}
pagination-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


