@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.hamburger {
  position: fixed;
  top: 0;
  z-index: 100 !important;

  &:focus {
    outline: none !important;
  }
}

.hamburger-menu-box {
  position: fixed;
  z-index: 99;
  top: 0;
  left: -500px;
  height: 100%;
  width: 500px;
  background: #00467F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .3s;
}

.show {
  left: 0;
}

.hamburger-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
  list-style-type: none;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;

  &__item {
    margin: 0 0 80px -250px;
    opacity: 0;
  }

  &____item-pika {
    margin: 0 0 180px -250px;
    position: fixed;
  }

}

.hamburger-menu__item:hover {
  filter: drop-shadow(30px 30px 40px #f1404b);
  color: #f1404b;
  transition: .3s;
}

.show-item-1 {
  margin-left: 20px;
  outline: none;
  opacity: 1;
  transition: 1.6s;
}

.show-item-2 {
  margin-left: 20px;
  outline: none;
  opacity: 1;
  transition: 2s;
}

.show-item-3 {
  margin-left: 20px;
  outline: none;
  opacity: 1;
  transition: 2.4s;
}

.show-item-4 {
  margin-left: 20px;
  outline: none;
  opacity: 1;
  transition: 2.8s;
}

.show-item-5 {
  margin-left: 20px;
  outline: none;
  opacity: 1;
  transition: 3.2s;
}

img {
  position: fixed;
  left: -300px;
  z-index: 100;
}

.show-item-6 {
  left: 40px;
  transition: 4.4s;
}
